<tr>
  <td class="date">
    <%=allmatchrow.date%>
  </td>
  <td class="name <%=(allmatchrow.firstWin=='win'?'green':(allmatchrow.firstWin=='loose'?'red':''))%> <%=allmatchrow.firstType%>">
    <% if(allmatchrow.firstUser){ %>
      <a href="/allmatch?user=<%=allmatchrow.firstUser%>"><%=allmatchrow.firstName%></a>  (<%=allmatchrow.firstRating%>)
    <% } else { %>
      <%=allmatchrow.firstName%>  (<%=allmatchrow.firstRating%>)
    <% }%>
  </td>
  <td class="name <%=(allmatchrow.secondWin=='win'?'green':(allmatchrow.secondWin=='loose'?'red':''))%> <%=allmatchrow.secondType%>">
    <% if(allmatchrow.secondUser){ %>
      <a href="/allmatch?user=<%=allmatchrow.secondUser%>"><%=allmatchrow.secondName%></a>  (<%=allmatchrow.secondRating%>)
    <% } else { %>
      <%=allmatchrow.secondName%>  (<%=allmatchrow.secondRating%>)
    <% }%>
  </td>
  <td class="duration">
    <%=allmatchrow.duration%>
  </td>
  <td class="score">
    <%=allmatchrow.score%>
  </td>
</tr>