<tr>
    <td class="date">
        <%=allmatchrow.date%>
    </td>
    <td class="name <%=allmatchrow.firstWin%> <%=allmatchrow.firstType%>">
        <a href="/allmatch/<%=allmatchrow.firstUser%>"><%=allmatchrow.firstName%></a>  (<%=allmatchrow.firstRating%>)
    </td>
    <td class="name <%=allmatchrow.secondWin%> <%=allmatchrow.secondType%>">
        <a href="/allmatch/<%=allmatchrow.secondUser%>"><%=allmatchrow.secondName%></a>  (<%=allmatchrow.secondRating%>)
    </td>
    <td class="duration">
        <%=allmatchrow.duration%>
    </td>
    <td class="score">
        <%=allmatchrow.score%>
    </td>
</tr>