<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://puzzleduel.herokuapp.com/images/logo.png" />
    <title>PuzzleDuel</title>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jcanvas/jcanvas.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>   

    <script src="/js/style.js"></script>

    <script src="js/skins.js"></script>
    <script src="js/puzzle.js"></script>
    <script src="js/board.js"></script>
    <script src="js/layout.js"></script>
    <link href="css/puzzleduel.css" rel="stylesheet">

    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&appId=788712584538109&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <header class="logo">
      <img class="small" src="images/logo.png">
      <img class="big" src="images/logo_big.png">
      <%-partial('login') %>
    </header>
    <div class="menu">
      <div class="navigator">
        <a class="mainpage short" href="#"><img src="images/mainpage.png"></a>
        <a class="mainpage long" href="#"><%=translate["MainPage"]%></a>
        <a class="invitations short" href="#"><img src="images/invitations.png"></a>
        <a class="invitations long" href="#"><%=translate["Invitations"]%></a>
        <a class="help short" href="#"><img src="images/help.png"></a>
        <a class="help long" href="#"><%=translate["Rules"]%></a>
      </div>
      <% if (!user) { %>
        <div class="langchooser">
          <% for(var i=0; i<languages.length; i++) { %>
            <a class="short <%=languages[i].lang==lang?'current':'' %>" href="switchlang/<%=languages[i].lang %>"><%=languages[i].lang.toUpperCase() %></a>
            <a class="long <%=languages[i].lang==lang?'current':'' %>" href="switchlang/<%=languages[i].lang %>"><%=languages[i].label %></a>
          <% } %>
        </div>
      <% } %>
    </div>
    <div class="raised dialog" id="confirmationDialog">
      <div class="topic" id="confirmationtext"><%= translate["Confirmation text"]%></div>
      <button class="button" id="confirmationOk"><%= translate["OK button label"]%></button>
      <button class="button default" id="confirmationCancel"><%= translate["Cancel button label"]%></button>
    </div>
    <script>
      function confirmation(link){
        if($('#confirmationDialog').css('display')=='none'){
          showDialog($('#confirmationDialog'),{
            start: {
              left: 1,
              width: 1,
              height: 200
            },
            height: 120,
            width: 310
          });
        }
        rippleButton($('#confirmationCancel'), function(){closeDialog($('#confirmationDialog'));});
        rippleButton($('#confirmationOk'), function(){location.href = link;});
      }
      $('a.mainpage').click(function(){
        confirmation('/');
      });
      $('a.invitations').click(function(){
        confirmation('/invitations');
      });
      $('a.help').click(function(){puzzle.showRules();});
    </script>
    <div class="container raised">
       <%-body -%>
     </div>
  </body>
</html>
