<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jcanvas/jcanvas.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>   

    <script src="/js/style.js"></script>

    <script src="js/skins.js"></script>
    <script src="js/puzzle.js"></script>
    <script src="js/board.js"></script>
    <script src="js/layout.js"></script>
    <link href="css/puzzleduel.css" rel="stylesheet">

    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header class="logo">
      <img src="images/logo.png">
      <span class="title"><%= title %></span>
    </header>
    <div class="menu">
      <% if (!user) { %>
        <div class="langchooser">
          <% for(var i=0; i<languages.length; i++) { %>
            <a class="short <%=languages[i].lang==lang?'current':'' %>" href="switchlang/<%=languages[i].lang %>"><%=languages[i].lang.toUpperCase() %></a>
            <a class="long <%=languages[i].lang==lang?'current':'' %>" href="switchlang/<%=languages[i].lang %>"><%=languages[i].label %></a>
          <% } %>
        </div>
      <% } %>
    </div>
    <div class="container raised">
       <%-body -%>
     </div>
  </body>
</html>
