<% layout('/logopage.ejs') -%>
<div class="topic">
  <h2><%= translate["Invitation header"]%></h2>
  <p><%- translate["Invitation text"]%></p>
  <% if(invitations.length > 0) {%>
    <table class="ratingtable">
      <tr>
        <th class="date">
          <%=translate["Invitation date"]%>
        </th>
        <th class="name">
          <%=translate["Opponent"]%>
        </th>
        <th class="date">
          <%=translate["Invitation time"]%>
        </th>
        <th class="name">
          <%=translate["Invitation status"]%>
        </th>
      </tr>
      <%-partial('invitationrow',invitations)%>
    </table>
    <span id="statusInvitationError" class="error"></span>
  <% } %>
  <button class="button raised" id="addInvitationButton"><%= translate["Add invitation"]%></button>
  <div class="raised dialog" id="addInvitationDialog">
    <form name="addInvitationForm" id="addInvitationForm" method="POST">
      <input type="hidden" name="id" id="addid">
      <div class="group radio">
        <input type="radio" name="type" value="byname" id="byname" checked><span><%-translate["RegisteredUser"]%></span><br>
        <input type="radio" name="type" value="byemail" id="byemail"><span><%-translate["EmailUser"]%></span>
      </div>
      <div class="group">
        <input type="text" name="opponentname" id="addopponentname"  required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label><%= translate["Opponent"]%></label>
      </div>
      <div class="group">
        <input type="date" name="calldate" id="addcalldate" required value="<%=tomorrow%>">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label><%= translate["Invitation date"]%></label>
      </div>
      <div class="group">
        <input type="time" name="calltimefrom" id="addcalltimefrom" value="00:00"> - 
        <input type="time" name="calltimeto" id="addcalltimeto" value="23:59">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label><%= translate["Invitation time"]%></label>
      </div>
      <div class="group">
        <input type="text" name="message" id="addmessage"  required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label><%= translate["InvitationMessage"]%></label>
      </div>
      <span id="addInvitationError" class="error"></span>
      <button class="button default" id="addInvitationOkButton" data-ripple-color="#89669b"><%= translate["OK button label"]%></button>
      <button class="button" id="addInvitationCancelButton"><%= translate["Cancel button label"]%></button>
    </form>
  </div>
  <div class="raised dialog" id="changeInvitationDialog">
    <form name="changeInvitationForm" id="changeInvitationForm" method="POST">
      <input type="hidden" name="id" id="changeid">
      <div class="group">
        <span class="text" id="changeopponentname"></span>
        <span class="bar"></span>
        <label><%= translate["Opponent"]%></label>
      </div>
      <div class="group">
        <span class="text" id="changecalldate"></span>
        <span class="bar"></span>
        <label><%= translate["Invitation date"]%></label>
      </div>
      <div class="group">
        <input type="time" name="calltimefrom" id="changecalltimefrom" value="00:00"> - 
        <input type="time" name="calltimeto" id="changecalltimeto" value="23:59">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label><%= translate["Invitation time"]%></label>
      </div>
      <span id="changeInvitationError" class="error"></span>
      <button class="button default" id="changeInvitationOkButton" data-ripple-color="#89669b"><%= translate["OK button label"]%></button>
      <button class="button" id="changeInvitationCancelButton"><%= translate["Cancel button label"]%></button>
    </form>
  </div>
  <script>
    rippleButton($('#addInvitationButton'), function(){
      $('#addInvitationError').text('');
      showDialog($('#addInvitationDialog'),{
        start: {
          from: $('#addInvitationButton')
        },
        width: 310,
        height: 340,
      });
    });
    rippleButton($('#addInvitationCancelButton'), function(){
      closeDialog($('#addInvitationDialog'));
    });
    rippleButton($('#addInvitationOkButton'), function(){
      $('#addInvitationError').text('');
      var form = $('#addInvitationForm');
      postData(form.serialize(), 'add');
    });
    function postData(data, operation){
      $.ajax({
        url: "/invitations",
        method: "POST",
        data: data,
        complete: function(){
        },
        statusCode: {
          200: function(){
            closeDialog($('#'+operation+'invitationDialog'));
            window.location.href="/<%=page%>";
          },
          500: function(){
            $('#'+operation+'InvitationError').text('<%= translate["Wrong data!"]%>');
          },
          400: function(request){
            var message = request.responseJSON.message;
            if(!message){
              message = '<%= translate["Wrong data!"]%>';
            }
            $('#'+operation+'InvitationError').text(message);
          }
        }
      })
    }
    function decline(invitationId){
      postData({id: invitationId, status: 'declined'},'status');
    }
    function accept(invitationId){
      postData({id: invitationId, status: 'accepted'},'status');
    }
    function change(invitationId){
      $('#changeid').val(invitationId);
      $('#changeopponentname').text($('#'+invitationId+'_name').text());
      $('#changecalldate').text($('#'+invitationId+'_date').text());
      $('#changecalltimefrom').val($('#'+invitationId+'_from').text());
      $('#changecalltimeto').val($('#'+invitationId+'_to').text());
      $('#changeInvitationError').text('');
      showDialog($('#changeInvitationDialog'),{
        start: {
          from: $('#addInvitationButton')
        },
        width: 310,
        height: 230,
      });
    }
    rippleButton($('#changeInvitationCancelButton'), function(){
      closeDialog($('#changeInvitationDialog'));
    });
    rippleButton($('#changeInvitationOkButton'), function(){
      $('#changeInvitationError').text('');
      var form = $('#changeInvitationForm');
      postData(form.serialize(), 'change');
    });
    <% if(showLogin) { %>
    loginDialog();
    <% } %>
  </script>
</div>