<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '788712584538109',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<button class="button login" id="userLoginButton"><%= translate["Login button label"]%></button>
   <div class="raised dialog" id="userLoginDialog">
      <form name="loginForm" id="loginForm" method="POST">
         <div class="group loginselector">
             <a href="/auth/facebook"><img src="/images/fb-connect.png" style="width:100px; max-height:30px;"></a >
             <a href="/auth/google"><img src="/images/google-connect.png" style="width:100px; max-height:30px;"></a >
         </div>
         <div class="group">
            <input type="text" name="username" id="username" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><%= translate["Login Name"]%></label>
         </div>
         <div class="group">
            <input type="password" name="password" id="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label><%= translate["Password"]%></label>
         </div>
         <input type="hidden" name="createnew" id="createnew" value="0">
         <span id="loginError" class="error"></span>
         <button class="button default" id="userLoginOkButton" data-ripple-color="#89669b"><%= translate["OK button label"]%></button>
         <button class="button" id="userLoginCancelButton"><%= translate["Cancel button label"]%></button>
      </form>
   </div>
   <div class="raised dialog" id="newUserDialog">
      <div class="topic" id="newUsertext"><%= translate["New User Confirmation"]%></div>
      <button class="button default" id="newUserOk"><%= translate["OK button label"]%></button>
      <button class="button" id="newUserCancel"><%= translate["Cancel button label"]%></button>
   </div>
   <script>
      function loginDialog(){
         showDialog($('#userLoginDialog'),{
            start: {
               from: $('#userLoginButton')
            },
            width: 310,
            height: 230,
            direction: 'bottom-left'
         });
      };
      function login(){
         if($('#password').val().length===0 || $('#username').val().length===0){
            $('#loginError').text('<%= translate["Wrong authorization data!"]%>');
            return;
         }
         $('#loginError').text('');
         var form = $('#loginForm');
         $.ajax({
            url: "/login",
            method: "POST",
            data: form.serialize(),
            complete: function(){
            },
            statusCode: {
               200: function(){
                  closeDialog($('#userLoginDialog'));
                  <% if(page=='error') {%>
                     window.location.href="/";
                  <% } else if(page!='sudoku') {%>
                     window.location.href="/<%=page%>";
                  <% } %>
               },
               401: function(){
                  $('#loginError').text('<%= translate["Wrong authorization data!"]%>');
               },
               403: function(){
                 showDialog($('#newUserDialog'),{
                    start: {
                       width: 310,
                       height: 100
                    },
                    height: 100,
                    width: 310
                 });
               }
            }
         })
      };
      rippleButton($('#userLoginButton'), function(){
         loginDialog();
      });
      rippleButton($('#userLoginOkButton'), function(){
         login();
      });
      rippleButton($('#userLoginCancelButton'), function(){
         $('#loginError').text('');
         closeDialog($('#userLoginDialog'));
      });
      rippleButton($('#newUserOk'), function(){
         $('#createnew').val('true');
         login();
         closeDialog($('#newUserDialog'));
      });
      rippleButton($('#newUserCancel'), function(){
         closeDialog($('#newUserDialog'), function(){loginDialog();});
      });
   </script>
