<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://puzzleduel.herokuapp.com/images/logo.png" />
    <title>PuzzleDuel</title>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/js/style.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header class="logo">
      <img class="small" src="images/logo.png">
      <img class="big" src="images/logo_big.png">
      <%-partial('login') %>
    </header>
    <div class="menu">
      <div class="navigator">
        <% if(page!='index') { %>
          <a class="short" href="/"><img src="images/mainpage.png"></a>
          <a class="long" href="/"><%=translate["MainPage"]%></a>
        <% } %>
        <% if(page!='account') { %>
          <a class="short" href="/account"><img src="images/settings.png"></a>
          <a class="long" href="/account"><%=translate["Settings"]%></a>
        <% } %>
      </div>
      <% if (!user) { %>
        <div class="langchooser">
          <% for(var i=0; i<languages.length; i++) { %>
            <a class="short <%=languages[i].lang==lang?'current':'' %>" href="switchlang/<%=languages[i].lang %>"><%=languages[i].lang.toUpperCase() %></a>
            <a class="long <%=languages[i].lang==lang?'current':'' %>" href="switchlang/<%=languages[i].lang %>"><%=languages[i].label %></a>
          <% } %>
        </div>
      <% } %>
    </div>
    <div class="container raised">
      <div class="content">
         <%-body -%>
      </div>
     </div>
  </body>
</html>
