<tr class="<%=matchrow.win%>">
    <td class="name">
        <%=matchrow.displayName%>
    </td>
    <td class="date">
        <%=matchrow.date%>
    </td>
    <td class="score">
        <%=matchrow.score%>
    </td>
    <td class="value">
        <%=matchrow.rating%>
    </td>
</tr>