<% layout('/gamepage.ejs') -%>
   <div id="board" style="position:absolute;">
   </div>
   <div class="raised dialog" id="connectDialog">
      <table>
         <tr><td colspan=2><span class="infotext" id="peerName"></span></td></tr>
         <tr><td colspan=2><span class="infotext" id="info"></span></td></tr>
         <tr><td colspan=2>
             <div class="group">
                <input type="text" name="name" id="name" required value="<%= user?user.displayName:'' %>">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label id="namelabel" for="name"></label> 
             </div>
         </td></tr>
         <tr><td colspan=2><img id="spinner" src="images/spinner.gif"></img></td></tr>
         <tr><td colspan=2><button class="button blue raised" id="connect"><%= translate["SearchRivals"]%></button></td></tr>
         <tr><td colspan=2><button class="button blue raised" id="ready"><%= translate["Start"]%></button></td></tr>
         <tr><td colspan=2><span class="infotext" id="waitingforready"></span></td></tr>
         <tr><td class="ruleslink" colspan=2><a id="ruleslink" href="#"><%= translate["Rules"]%></a></span></td></tr>
      </table>
   </div>
   <div class="raised dialog" id="rulesDialog">
      <div id="rulestext"></div>
      <button class="button blue raised closedialog" id="rulesclose"><%= translate["OK button label"]%></button>
   </div>
   <div class="raised dialog" id="skinsDialog">
      <button class="button blue raised closedialog" id="skinsclose"><%= translate["OK button label"]%></button>
   </div>
<script>
   var SIZE = 9;
   translate = <%- JSON.stringify(translate) %>
   $('#ruleslink').click(function(){puzzle.showRules();});
   var btnMenu = new BayButton('images/menu.png',translate["Menu"],function(){alert('Menu doesn`t work yet!');});
   var btnSettings = new BayButton('images/settings.png',translate["Settings"],function(){puzzle.showSkins();});
   var btnHelp = new BayButton('images/help.png',translate["Help"],function(){puzzle.showRules();});
   var logo = new BayTextPanel(1);
   var buttonPanel = new BayLayout([btnMenu, btnSettings, btnHelp, logo],[10, 10, 10, 70], 'buttonpane');

   var statusPanel = new BayTextPanel(10);
   var scorePanel = new BayTextPanel(2.3);
   var infoPanel = new BayLayout([statusPanel, scorePanel],[28, 72]);

   var puzzle = new BayPuzzle({generator: new SquareGridGenerator(), width: SIZE, height: SIZE, sudoku: true, digits: SIZE});
   var board = new BayBoard({puzzle: puzzle, colorScheme: BayColorScheme.basic});

   var gamePanel = new BayLayout([infoPanel, board],[20, 80]);

   var layout = new BayLayout([buttonPanel, gamePanel],[10, 90]);
   puzzle.setScorePanel(scorePanel);
   puzzle.setInfoPanel(statusPanel);
   puzzle.setBoard(board);

   var resizeTimer;
   $(window).bind('resize',function(){
      clearTimeout(resizeTimer);
      resizeTimer = setTimeout(function(){layout.onResize($(window));puzzle.changeState()},100);
   })

    layout.onResize($(window));
</script>
